{% extends 'main/layout.html' %}

{% block title %}Face emotion detection{% endblock %}

{% block content %}
    <div class="features">
        <h1>Photo emotion detection</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!--            {{ form.text }} <br>-->

                <p>Select a photo to analyze:</p>
                <input type="file" id="input_img" name="input_img" accept=".png, .jpg, .jpeg" /><br>

            <!--            <span>{{ error }}</span>-->
            <div id="image_preview"></div>
            <div>
                <button class="btn btn-warning" type="submit">Analyze</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('input_img').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    var imgElement = document.createElement('img');
                    imgElement.src = event.target.result;
                    imgElement.style.maxWidth = '100%';
                    document.getElementById('image_preview').innerHTML = '';
                    document.getElementById('image_preview').appendChild(imgElement);
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
{% endblock %}