{% extends 'main/layout.html' %}

{% block title %}IG publication audit{% endblock %}

{% block content %}
        <div class="features">
        <h1>Instagram publication audit</h1>
        <form method="post">
            {% csrf_token %}
            {% if login_url %}
                <div>
                    <a href="{{ login_url }}">Use this link to authorize in Instagram</a>
                </div>
            {% endif %}
            <div>
                <button class="btn btn-warning" type="submit">Init</button>
            </div>
        </form>
    </div>
{% endblock %}