{% extends 'main/layout.html' %}

{% block title %}IG publication audit{% endblock %}

{% block content %}
    <div class="features">
        <h1>Instagram publication audit</h1>
        <div>
            <p>Please log in to Instagram before performing the analysis</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                <button onclick="openLinkInNewTab()" class="btn btn-warning" type="submit">Authorize</button>
            </div>
        </form>
        <script>
            function openLinkInNewTab() {
                var url =  decodeURIComponent("{{ login_url|safe }}");
                var win = window.open(url, '_blank');
                win.focus();
            }
        </script>
    </div>
{% endblock %}