{% extends 'main/layout.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Main Page</h1>
        <p>The story of the Loch Ness Monster started long ago in Scotland. People have been talking about it for many years because Loch Ness, the lake where it's said to live, is deep and dark, making it easy to imagine mysterious creatures lurking below. Some folks think the monster might be a leftover dinosaur called a plesiosaur that somehow survived. They point to blurry photos and strange readings on sonar machines as evidence. But others say these sightings are likely just mistakes, like seeing logs or big fish and thinking they're something else.</p>
        <button class="btn btn-warning">Click</button>
    </div>
{% endblock %}