body {
    background: #fff;
}

aside {
    float: left;
    background: #7996e3;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #000;
    border-right: 5px solid #d3d3d3;
}

aside img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

aside .logo {
    font-size: 40px;
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
}

aside h3 {
    margin-top: 30px;
    font-size: 25px;
}

aside ul {
    list-style: none;
}

aside ul li, aside a {
    text-decoration: none;
    color: #000;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
}